html {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Helvetica", "Calibri", "Arial", sans-serif;
    background: #CDD3E9;
}

#parties {
    font-size: 1.2em;
}

th {
    text-align: left;
}

#parties td:last-child {
    text-align: right;
}

#parties td {
    padding-right: 8px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.2em;
}

#disclaimer {
    font-size: 0.9em;
    text-align: justify;
}

#footer {
    font-size: 0.7em;
}